.profile {
  display: flex;
  justify-content: center;
}
.profile .container {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  width: 100%;
  max-width: 1088px;
}
.profile .container > .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  border-radius: 12px;
  padding: 24px;
}
.profile .container > .content .tab {
  display: flex;
}
.profile .container > .content .tab .item {
  padding: 12px;
  border-radius: 12px 12px 0 0;
  border: none;
  border-bottom: 1px solid #2d5396;
  color: #2d5396;
  cursor: pointer;
  font-size: 16px;
}
.profile .container > .content .tab .item.active {
  background: #2d5396;
  color: #fff;
}
.profile .container > .content .menu {
  display: none;
}
.profile .container > .content .menu.active {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.profile .container > .content .menu .row {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.profile .container > .content .menu .row .item {
  display: flex;
  justify-content: space-between;
}
.profile .container > .content .menu .row .item .row-2 {
  display: flex;
  width: 100%;
}
.profile .container > .content .menu .row .item .col {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px;
  font-weight: 600;
}
.profile .container > .content .menu .row .item .col.title {
  color: #2d5396;
}
.profile .container > .content .menu .row .item .col.verify {
  color: #2ed06e;
}
.profile .container > .content .menu .row .item .col img {
  width: 108px;
}

.profile .container > .content .refer-menu .row {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.profile .container > .content .refer-menu .row .copy {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 12px;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid #e2e2e2;
}
.profile .container > .content .refer-menu .row .copy p {
  font-size: 16px;
}
.profile .container > .content .refer-menu .row .copy hr {
  width: 100%;
}
.profile .container > .content .refer-menu .row .copy button {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding: 0 24px;
  background: none;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  color: #2d5396;
  cursor: pointer;
  transition: all 0.5s;
}
.profile .container > .content .refer-menu .row .copy button:hover {
  background: #cee2f6;
}
.profile .container > .content .refer-menu .row .email {
  display: flex;
  gap: 12px;
  border-radius: 12px;
  padding: 32px;
  border: 1px solid #e2e2e2;
}
.profile .container > .content .refer-menu .row .email .input-field {
  flex: 1;
  min-height: 48px;
}
.profile .container > .content .refer-menu .row .email button {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  padding: 0 24px;
  border-radius: 12px;
  background: none;
  border: 2px solid #2d5396;
  color: #2d5396;
}
@media only screen and (max-width: 800px) {
  .profile .container > .content .refer-menu .row .email {
    flex-direction: column;
  }
}
@media only screen and (max-width: 960px) {
  .profile .container > .content .menu .row .item {
    flex-direction: column;
  }
}
