.page-content{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
}
.container {
  display: flex;
  gap: 24px;
  max-width: 1088px;
  width: 100%;
  padding: 0 24px;
}
