.features {
  display: flex;
  justify-content: center;
}
.features .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features .container > .bottom {
  display: flex;
  align-items: center;
}
.features .container > .bottom .features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 48px;
  width: 180px;
  color: #1b325a;
}
.features .container > .bottom .features-item .title {
  font-size: 28px;
}
.features .container > .bottom .features-item .description {
  font-size: 18px;
  text-align: center;
}
@media only screen and (max-width: 960px) {
  .features .container > .bottom{
    display: flex;
    flex-direction: column;
  }
}